
extends template
block content_var

	h2 Current Database:
	table(border=1)
		h1
			tr
				td Crash ID 
				td Crash Type
				td Casualties 
				td Fatalities 
				td DUI Bool 
				td Drugs Bool 
				td Daytime Bool
		if (table != undefined)
			for i in table
				tr
					td= i.crash_id
					td= i.crashtype_id 
					td= i.casualties
					td= i.fatalities
					td= i.dui_bool
					td= i.drugs_bool
					td= i.day_bool

					
