
extends template
block content_var
	
	h2 Current Database:
	table(border=1)
		h1
			tr
				td Crash ID 
				td Casualties 
				td Fataities 
				td Position 
				td Location 
				td Crash Type
				td Year				
				td DUI Bool 
				td Drugs Bool 
				td Daytime Bool
				td Action

		if (table != undefined)
			for i in table

				tr
					td= i.crash_id
					td= i.casualties
					td= i.fatalities
					td= i.position
					td= i.location
					td= i.crashtype
					td= i.year
					td= i.dui_bool
					td= i.drugs_bool
					td= i.day_bool

					td 
						form(action="/delete", method="POST")
							button(name="delete_row",type="submit", value=i.crash_id) delete
					
