
extends template
block content_var

	h3 Add Crash Record:
	form(action="/input", method="POST")

		// year input
		- const currentYear = new Date().getFullYear()
		label(for="year") Year:
			input(type="number", name="year", value=currentYear, required)
		if (invalid == "year")
			p(style="color: red") Invalid year
		br
		label(for="casualties") Casualties: 
			input(type="number", name="casualties", value="1", required)
		if (invalid == "casualties")
			p(style="color: red") Please input a valid integer

		br
		label(for="fatalities") Fatalities: 
			input(type="number", name="fatalities", value="1", required)
		if (invalid == "fatalities")
			p(style="color: red") Please input a valid integer

		br
		label(for="dui_bool") DUI involved:
			input(type="checkbox", name="dui_bool")

		br
		label(for="drugs_bool") Alchohol involved:
			input(type="checkbox", id="drugs_bool", name="drugs_bool")

		br
		label(for="day_bool") In daylight:
			input(type="checkbox",id="day_bool",
			 name="day_bool")


		br
		label(for="location") Location:
			select(id="location", name="location", required)
				- var count = 1;
				for i in location_arr
					option(value=count)=i
					- count++;

		br
		label(for="position") Position:
			select(id="position", name="position", required)
				- var count = 1;
				for i in position_arr
					option(value=count)=i
					- count++;

		br
		label(for="crashtype") Crash Type:
			select(id="crashtype", name="crashtype", required)
				- var count = 1;
				for i in crashtype_arr
					option(value=count)=i
					- count++;
		
		// submit form
		br
		input(type="submit", value="Submit")
		

